.ui.table tr {
  border-bottom: 0px !important;
}

.ui.table tr td {
  border-top: 0px !important;
}

.label-list {
  padding: 0;
  display: inline;
  list-style: none;
}

.label-list>li {
  display: inline-block;
  margin: 1px;
}

.thumb:hover {
  opacity: 0.8;
}
