body {
    background-color: #161616;
    text-align: center;
}

.heading {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    padding-top: 112px;
    color: #3386C9;
    margin: 0;
}

ul li {
    display: inline;
    font-family: Exo 2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 16px;
}

/**
 *  Search box style begins.
 */
div.search {
    width: 512px;
    margin: 0 auto;
}

div.search input[type=text] {
    height: 36px;
    width: 80%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #3386C9;
    box-sizing: border-box;
    border-radius: 4px;
    background: #161616;
    color: #9B9B9B;
}

div.search button {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    height: 36px;
    align-items: center;
    text-align: center;
    background: #3386C9;
    border-radius: 0px 4px 4px 0px;
    border: 1px #3386C9 solid;
}

div.search button:hover {
    background: #0b7dda;
}

div.search::after {
    content: "";
    clear: both;
    display: table;
}

/**
 * Search box style ends.
 */

p.userInfo {
    font-family: Exo 2;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}